/* Estilos para los elementos input */
* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'fuente';
    src: url('/font/PlaypenSans-VariableFont_wght.ttf');
}

img {
    width: 100%;
}

html {
    font-family: 'fuente';
    font-size: 17px;
    margin-left: 20px;
    margin-right: 20px;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #F6B26B;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 150px;
    height: 150px;
    margin-right: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #F6B26B;
    padding: 10px;

}

nav a {
    background-color: #a0713476;
    color: black;
    text-decoration: none;
    padding: 8px 12px;
    margin-right: 20px;
    border-radius: 20px;
}

nav a:hover {
    background-color: #c6b197;
    color: #fffbf0;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #F6B26B;
    color: white;
}
.clear {
    clear: both;
}
input {
    width: 100%;
    margin-bottom: 10px;
  }
  
  
  input[type="checkbox"] {
    display: inline-block; /* Colocar los checkbox en línea */
    width: auto; /* Tamaño automático para los checkbox */
    margin-right: 10px; /* Espacio entre los checkbox */
  }
  
  /* Estilos para el formulario y los labels */
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block; /* Hacer que los labels ocupen una línea completa */
    margin-bottom: 5px;
  }
  
  /* Estilos para el contenido principal */
  h2 {
    text-shadow: 3px 2px 2px #5a4e13;
    font-size: 2rem;
}

.registro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    background-color: #F6B26B
}

.registro aside {
    background-color: #ecc091;
    flex: 70%;
    padding: 15px;
}

.registro section img {
    flex-direction: row;
    width: 300px;
}
aside div{
    background-color: #ffffff;
    width: 30%;
    height: 150px;
    box-shadow: 5px 5px 5px #6e5615;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: left;
}

.registro section {
    background-color: #F6B26B;
    flex: 30%;
    padding: 15px;
    flex-direction: row;
}

.promos div {
    background-color: #ffffff;
    width: 30%;
    height: 150px;
    box-shadow: 5px 5px 5px #6e5615;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: left;
}
  